$primary-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 20px;
}
.app__profiles-item {
    padding: 10px;
    border-radius: 10px;
    box-shadow: $primary_shadow;
    width: 190px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        h2 {
            color: var(--white-color);
        }
        &:before {
            transform: scale(50);
            z-index: -1;
        }
        p {
            color: #fff;
        }
    }
    &:before {
        content: "";
        position: absolute;
        background: var(--secondary-color);
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.8s ease-out;
        bottom: -12px;
        right: -9px;
    }
    img {
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
    }
    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;
        img {
            height: 320px;
        }
        &:hover {
            &:before {
                transform: scale(50);
            }
        }
    }
}
